/* ############################# */
/* title icon */
/* ############################# */
.title-icon {
  display: none;
}

body:not(.dark) .title-icon.light-mode {
  display: inline;
}

body.dark .title-icon.dark-mode {
  display: inline;
}

/* ############################# */
/* load fonts */
/* ############################# */

@font-face {
  font-family: 'MyEnglishFont-Caveat';
  src: url('../webfonts/Caveat-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyChineseFont';
  src: url('../webfonts/ZhiMangXing-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
